<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

  <appender name="ROLLINGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/home/web/logs/erp-product-amount/main.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>/home/web/logs/erp-product-amount/main.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <charset>UTF-8</charset>
      <pattern>[%level] %d{HH:mm:ss.SSS} %logger - %message%n%xException</pattern>
    </encoder>
  </appender>
  <appender name="ROLLINGFILE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/home/web/logs/erp-product-amount/error.log</file>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>/home/web/logs/erp-product-amount/error.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <charset>UTF-8</charset>
      <pattern>[%level] %d{HH:mm:ss.SSS} %logger - %message%n%xException</pattern>
    </encoder>
  </appender>
  <appender name="ROLLINGFILE-DB" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/home/web/logs/erp-product-amount/db.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>/home/web/logs/erp-product-amount/db.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <charset>UTF-8</charset>
      <pattern>[%level] %d{HH:mm:ss.SSS} %logger - %message%n%xException</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%level] %d{HH:mm:ss.SSS} %logger - %message%n%xException</pattern>
    </encoder>
  </appender>

  <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="ROLLINGFILE"/>
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT"/>
  </appender>

  <logger name="play" level="INFO"/>
  <logger name="application" level="DEBUG"/>
  <logger name="error" level="WARN" additivity="false">
    <appender-ref ref="ROLLINGFILE-ERROR"/>
  </logger>
  <logger name="main" level="DEBUG"/>
  <logger name="access" level="DEBUG"/>

  <logger name="akka.actor.TimerScheduler" level="OFF"/>
  <logger name="com.lightbend.lagom.scaladsl.playjson.PlayJsonSerializer" level="INFO"/>
  <logger name="slick" level="OFF"/>
  <logger name="com.zaxxer.hikari" level="OFF"/>
  <logger name="org.jdbcdslog.ConnectionLogger" level="OFF"/>
  <logger name="org.jdbcdslog" level="DEBUG" additivity="false">
    <appender-ref ref="ROLLINGFILE-DB"/>
  </logger>
  <logger name="slick.jdbc" level="DEBUG" additivity="false">
    <appender-ref ref="ROLLINGFILE-DB"/>
  </logger>
  <logger name="db" level="DEBUG" additivity="false">
    <appender-ref ref="ROLLINGFILE-DB"/>
  </logger>

  <root level="DEBUG">
    <appender-ref ref="ROLLINGFILE"/>
    <appender-ref ref="ASYNCSTDOUT"/>
    <appender-ref ref="ROLLINGFILE-ERROR"/>
  </root>

</configuration>
